@using Notes.Web.ViewModels.Note;
@model IEnumerable<NoteViewModel>
<h2>List of Notes</h2>

<div>
    Sort by:
    <a asp-action="All" asp-route-sortOrder="title_asc">Title Ascending</a> |
    <a asp-action="All" asp-route-sortOrder="title_desc">Title Descending</a> |
    <a asp-action="All" asp-route-sortOrder="content_asc">Content Ascending</a> |
    <a asp-action="All" asp-route-sortOrder="content_desc">Content Descending</a> |
    <a asp-action="All" asp-route-sortOrder="date_desc">Date Created Descending</a> |
    <a asp-action="All" asp-route-sortOrder="date_asc">Date Created Ascending</a>
</div>


@if (Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content</p> 
                        <div class="d-flex justify-content-between mt-3">
                            <form method="post" asp-action="Details" asp-controller="Note" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to open this note?')">Details</button>
                            </form>

                            <form method="post" asp-action="MoveToTrash" asp-controller="Note" asp-route-id="@item.Id.ToString()">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this note?')">Delete</button>
                            </form>

                            <form method="post" asp-action="Pin" asp-controller="Note" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-warning">Pin</button>
                            </form>

                            <form method="post" asp-action="AddToFavorite" asp-controller="Note" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-info">Favorite</button>
                            </form>

                            <a asp-area="" asp-controller="Note" asp-action="Edit" asp-route-id="@item.Id"
                               class="btn btn-success">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


}
else
{
    <p>No notes found.</p>
}

<h2>Trash</h2>
<div class="col-md-6 mb-4">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Go to trash</h5>
            <a asp-area="" asp-controller="Note" asp-action="TrashNotes" class="btn btn-danger">Trash</a>
        </div>
    </div>
</div>

@functions {
    string TruncateText(string text, int length)
    {
        if (text.Length <= length)
            return text;
        return text.Substring(0, length) + "...";
    }
}